<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/order/">Order</a>

        {% if user.is_authenticated and user.is_staff %}
            <a href="/inventory/">Inventory</a>
            <a href="/kitchen/">Kitchen</a>
            <a href="/admin/">Admin</a>

            <form class="nav-logout" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Staff Login</a>
        {% endif %}
    </nav>


    <h1>Current Inventory</h1>

    {% for ingredient in ingredients %}
        <p>
            {{ ingredient.name }}:
            {{ ingredient.quantity }} {{ ingredient.unit }}

            {% if ingredient.quantity <= 0 %}
                <span class="stock-warning">OUT OF STOCK</span>
            {% elif ingredient.quantity <= ingredient.low_alert %}
                <span class="stock-warning">LOW STOCK</span>
            {% endif %}

            <form method="POST" action="{% url 'add_ingredient_qty' ingredient.id %}">
                {% csrf_token %}
                <input type="number" name="quantity" placeholder="Add quantity" step="any" required>
                <button type="submit">Add to Inventory</button>
            </form>
        </p>
    {% empty %}
        <p>No ingredients are currently in inventory.</p>
    {% endfor %}

    <h3>Add New Ingredient</h3>
    <form method="POST" action="{% url 'add_new_ingredient' %}">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Ingredient Name" required>
        <input type="number" name="quantity" placeholder="Quantity" step="any" required>
        <input type="text" name="unit" placeholder="Unit" required>
        <input type="number" name="low_alert" placeholder="Low Alert" step="any" min="0" required>
        <button type="submit">Add Ingredient</button>
    </form>



</body>
</html>